In [1]:
import numpy as np
import pandas as pd
import datetime

# Parsing time series information from various sources and formats

In [2]:
dt=pd.to_datetime(['1/1/2018',np.datetime64('2018-01-01'),datetime.datetime(2018,1,1)])
dt

DatetimeIndex(['2018-01-01', '2018-01-01', '2018-01-01'], dtype='datetime64[ns]', freq=None)

# Generate sequences of fixed-frequency dates and time spans

In [3]:
dt=pd.date_range('2018-01-01',periods=3,freq='H')
dt

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00'],
              dtype='datetime64[ns]', freq='H')

# Manipulating and converting date times with timezone information

In [4]:
dt=dt.tz_localize('utc')
dt
# dti.tz_convert('US/Pacific') use this code we convert any place in this world

DatetimeIndex(['2018-01-01 00:00:00+00:00', '2018-01-01 01:00:00+00:00',
               '2018-01-01 02:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='H')

# Resampling or converting a time series to a particular frequency

In [10]:
idx=pd.date_range('2018-01-01',periods=5,freq='D')

ts=pd.Series(range(len(idx)), index=idx)
ts

2018-01-01    0
2018-01-02    1
2018-01-03    2
2018-01-04    3
2018-01-05    4
Freq: D, dtype: int64

In [9]:
ts.resample('2D').mean()

2018-01-01    0.5
2018-01-03    2.5
2018-01-05    4.0
Freq: 2D, dtype: float64

# Performing date and time arithmetic with absolute or relative time increments