In [ ]:
a='hello'

In [ ]:
print(a)

In [ ]:
string1='hello'
string2="my friend"

string3="""welcome to all
in new day"""

print(string1)
print(string2)
print(string3)

In [ ]:
name='gowrishankar'

address="""37, 4th street,
arasu colony,e.pudur,trichy-12."""

print(name)
print(address)

In [ ]:
name='gowri'
name1='shankr'
id(name), id(name1)

In [ ]:
id(a)

In [ ]:

a=10
b=20
print(id(a),id(b))

In [ ]:
#float doesnot show same value in id function
a=13.4
b=13.4
print(id(a),id(b))

In [ ]:
#precision problems in floats
c=.1+.1+.1-.3
print(c)

In [ ]:
#precision vs accuracy tradeoff

from decimal import *
a=Decimal('0.1')
b=Decimal('0.3')

c=a+a+a-b
print (f"the result is {c}")

In [ ]:
pi=3.14
type(pi)

In [ ]:
#if , else, elif 
a=16

if(a%3==0 and a%5==0):
    print("frizz buzz")
elif(a%3==0):
    print("frizz")
elif(a%5==0):
    print("buzz")
else:
    print("none")

In [ ]:
#ternary operator
mark=100

result="pass" if(mark>50) else "fail"

print("mark= {}".format(mark))
print("result= {}".format(result))

In [ ]:
#swap
a=10
b=20
tmp=0

tmp=a
a=b
b=tmp

print(a,b)

In [ ]:
#find area of a triangle
b=10
h=10
c=(0.5 * b* h)
print(f"area of triangle{c}")

In [ ]:
a=10
b=0.621
miles=(a*b)
print(miles)

In [ ]:
#odd or even

a=5

value="odd" if(a%2==0) else "even"
print(value)

In [ ]:
#leap year 
a=1996
year="leap" if(a%4==0) else "not leap"
print(year)

In [ ]:
#positive or negative or zero
a=10
if(a>0):
    print("positive")
elif(a==0):
    print("zero")
else:
    print("negative")

In [ ]:
#loop

value=0

while(value<10):
    print(value)
    value=value+1

In [ ]:
password="gowri"
pwd=""

while pwd!=password:
    pwd=input("enter your password:")

print=("password correct!! \nwelcome")

In [ ]:
#for loop

days=['sun','mon','tue','wed','thu','fri','sat']

for a in days:
    print(a)

In [1]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
for x in range(0,10):
    print(x)

#multiples of 2 using range
for x in range(0,10,2):
    print(x)

In [ ]:
#multiples of 5 using range staring from 10 and ending in 100
for x in range(10,100,5):
    print(x)

In [ ]:
type(n)

In [4]:
#first n multiples of 5 using a for loop
n=input("enter the number:")
n=int(n)
for x in range(0,n+1):
    print(x*5)

enter the number:5
0
5
10
15
20
25

In [3]:
#enumerate
day=['sun','mon','tue','wed','thu','fri','sat']
for index,data in enumerate(day):
    print(f"{index} :::> {data}")

0 :::> sun
1 :::> mon
2 :::> tue
3 :::> wed
4 :::> thu
5 :::> fri
6 :::> sat

In [ ]:
n="gowri"
for index,data in enumerate(n):
    print(f"{index}---> {data}")

In [ ]:
password="gowri"
pwd=''
count=0

while pwd!=password:
    if count==5:
        break
        count +=1
        pwd=input(f"attempt {count}:enter your password:")

if (pwd==password):
    print("authorized... \nwelcome you")
else:
    print("wrong password")

In [ ]:
#break and continue
animals=['dog','cat','parrot','lion','tiger']
for animals in animals:
    if(animals=='fish'):
        continue
    
    if(animals=='parrot'):
        print("error !! exiting!!  we have a bird")
        break
    print(animals)
else:
    print("printed all animals")

In [ ]:
days=['sun','mon','tue','wed','thu','fri','sat']

for days in days:
    if(days=='sun'):
        print("SUNDAY")
        continue
    if(days=='mon'):
        print("i hate monday")
        continue
    if(days=='thu'):
        continue
        
    print(days)

In [ ]:
#read two number print their quotient an remainder
a=int(input("enter first number:"))
b=int(input("enter secound number:"))
q=a/b
r=a%b
print(f"quotient:{q}")
print(f"remainder:{r}")

In [ ]:
#factorial n number
n=int(input("enrer the number:"))
fact=1
i=1
while(i<n+1):
    fact=fact*i
    i=i+1
print(fact)

In [ ]:
a=int(input("enter the number:"))

while(a>0):
    x=a%10
    b=a/10
if(b==a):
    print("a is same number")
else:
    print("sum error occure")
print(x)

In [ ]:
x=int(input("enter the number:"))
for x in range(9,x,9):
    print(x)

In [5]:
#swap variables
a=int(input("enter the number"))
b=int(input("enter the number"))


a=a^b
#b=a^b

print(a)
print(b)

enter the number5
enter the number6
3
6

In [ ]:
#leap year
x=int(input("enter the number:"))
if(x%4==0 and x%100==0):
    print("leap year")
elif(x%400==0):
    print("not leap")

In [ ]:
#sum of all natural number
a=9
for b in range(1,a+1,1):
        print(b)

In [ ]:
#leapyear in function

year=int(input("enter the year"));

def isleapyear(int year)
{
    istypicalleapyear(year) && not(isatypicalcommonyear(year);                            
}
def istypicalleapyear(int year)
{
    year % 4 == 0;
}
def isatypicalcommonyear(int year)
{
    year % 100 == 0 && not(year % 400 == 0);
}

In [ ]:
#try catch
try:
    a=0/0
    f=open("hello.txt","r")
    print(r.read())
except:
    print("error in opening file")

In [ ]:
#try catch II
try:
    #a=0/0
    f=open("hello.txt","r")
    print(r.read())
except IOError:
    print("error in opeing file")
except:
    print("error")

In [ ]:
#USER INPUT
a=input("enter the value of a")
a

In [ ]:
#file handling 

f=open("fil.txt","w")
f.write("hi welcome, \n i am your friend")
f.close()

In [ ]:
f=open("fil.txt","r")
a=f.read()
f.close()
print(a)

In [ ]:
with open("fil.txt","r") as f:
    for line in f:
        print(line)

In [ ]:
f=open("fil.txt","r")
a=f.readlines()
f.close()
print(a)

In [ ]:
with open("fil.txt","r")as f:
    for i,line in enumerate(f):
        print(i,line)

In [ ]:
f=open("fil.txt","a")
a=f.write("welcome too all")
f.close()
print(a)

In [ ]:
import csv
filename="tweets_withheader.csv"
with open(filename,"r")as f:
    data_reader=csv.reader(f,delimiter=',')
    headers=next(data_reader)
    print("headers = "+ str(headers))
    
    print("\nContent")
    for line in data_reader:
        print(line)

In [ ]:
import csv
filename="tweets_noheader.csv"
with open(filename,"r")as f:
    data_reader=csv.reader(f,delimiter=',')
    
    
    print("Content")
    for line in data_reader:
        print(line)

In [ ]:
#json

import json
filename="moviereview.json"
with open(filename,"r")as f:
    a=f.read()
    movie=json.loads(a)
movie

In [ ]:
import json
filename="moviereview.json"
with open(filename,"r")as f:
    movie=json.load(f)
movie

In [ ]:
movie['Year']

In [ ]:
import json
filename="moviereviews.jsonl"
with open(filename,"r")as f:
    for  line in f:
        movie=json.loads(line)
        print(movie)

In [ ]:
#input 
a=int(input("enter the a"))
b=int(input("enter the b"))

while(b==0):
    try:
        a/b
    except:
        print("cannot divid zero")
        b=int(input("enter the b"))

c=a/b
print(c)

In [ ]:
#list comprehensions

squares=[]
for x in range(10):
    squares.append(x*x)
squares

In [ ]:
#type II
squares=[x**2 for x in range(10)]
squares

In [ ]:
#type III
squares=[x*x for x in range(10)]
squares

In [ ]:
combos=[]

for x in [1,2,3]:
    for y in [1,2,3]:
        if x!=y:
            combos.append((x,y))
            
combos

In [ ]:
combos=[(x,y) for x in [1,2,3] for y in [1,2,3]]
combos

In [ ]:
combos=[(x,y) for x in [1,2,3] for y in [1,2,3] if x!=y]
combos

In [ ]:
combos=[(x,y) for x in [1,2,3]
      for y in [1,2,3]
      if x!=y]
combos

In [ ]:
combos=[(x,y) if x!=y else (0,0)
       for x in [1,2,3]
       for y in [1,2,3]]
combos

In [ ]:
x=[111,222,333,444,555,666,777,888,999,777]
x

In [ ]:
#given number in squres and cube
import random
a=[random.randint(100,999) for _ in range(10)]
[(i,i**2,i**3)for i in a]

In [ ]:
x=int(input("enter 3 digit number:"));
print(x)
squares=[x*x]
squares
cube=[x**3]
cube
print(squares)
print(cube)

In [ ]:
#dictionaryy comprehesion
fords=("the quick brown fox jumped over the lazy dog")
tokens=fords.split(',')
tokens

In [ ]:
word_len={}


for w in tokens:
    word_len[w]=len(w)
    
word_len

In [ ]:
word_len={w:len(w) for w in words.split()}
word_len

In [ ]:
#creating generators

squares=(x*x for x in range(10))
squares

In [ ]:
for item in squares:
    print(item)

In [ ]:
#sume fundamental programming concept
#map
def f(x):
    return x*x

n=range(10)

squares=map(f,n)

print(squares)
print(list(squares))

In [ ]:
def add(a,b):
    return a+b

a=[1,2,3]
b=[2,1,4]

results=map(add,a,b)
list(results)

In [ ]:
def add(a,b):
    return a+b

a=[1,2,3]
b=[1,2,3,4]

c=map(add,a,b)
list(c)

In [ ]:
##filter
def is_even(a):
    return a%2==0

seq=range(20)

evenNumbers=filter(is_even,seq)
list(evenNumbers)

In [ ]:
In

In [ ]:
Out

In [ ]:
#magic commands
%magic

In [ ]:
%magic

In [ ]:
from random import random

l=[int(random()*10) for _ in range(0,1000)]
t=[int(random()*10) for _ in range(0,1000)]
%time print(5 in l)
%time print(5 in t)

In [ ]:
%%time
l=[10,20,30]
print(5 in l)

In [ ]:
%timeit l=[10,20,30]
print(5 in l)

In [ ]:
%precision 2
l=[(random()*10) for _ in range(0,10)]
print(l)

In [ ]:
f=open("AliceInWonderland.txt")
tokens=
tokens

## numpy

In [ ]:
import numpy as np

In [ ]:
import numpy as np
print(np.__version__)

# creating a numpy arrays

In [ ]:
a=np.array([1,2,3,4,5])
a

In [ ]:
a=np.array([1,2.2,3,4,5])
a

In [ ]:
a=np.array([1,2,3,4,5])
newstrArry=a.astype(str)
newstrarry

In [ ]:
help(a.astype)

In [ ]:
newstrarry.tolist()

In [ ]:
a=np.array([1,2,3,4,5],dtype=np.float64)
a

In [ ]:
a.ndim, a.shape, a.size

In [ ]:
##create a 1-D nupy array of 50 elements and display its contents
a=np.array(range(50))
a

In [ ]:
##write a function meta that prints the dimension ,shape and size

def meta(a):
    print(a.ndim)
    print(a.shape)
    print(a.size)
meta(a)

# new datatype object

In [ ]:
a=np.array([1,"gowri",98.2])
a

In [ ]:
a=np.array([1,"gowri",98.2],dtype=np.object)
a

# can handle vectorized operations

In [ ]:
l=[1,2,3,4,5]
npa=np.array(l)
l,npa

In [ ]:
l+2

In [ ]:
npa+2

# multi dimensional arrays

In [ ]:
b=np.array([[1,2,3,4,5],[6,7,8,9,0]])
b

In [ ]:
b.ndim, b.shape, b.size, b.dtype

# some helpful functions

In [ ]:
np.zeros((3,3))

In [ ]:
help(np.zeros)

In [ ]:
np.empty((3,4),dtype=int)

# sequence generators

In [ ]:
start=100
end=10
count=10
np.linspace(start,end,count)

In [ ]:
start=0
end=10
step=2
np.arange(start,end,step)

In [ ]:
np.random.standard_normal((2,2))

In [ ]:
a=np.random.standard_normal((2,3))
b=np.random.standard_normal((2,3))
a,b

In [ ]:
np.vstack([a,b])

In [ ]:
a.transpose()
a

In [ ]:
np.save('myfirstarray.npy',a)

In [ ]:
al=np.load('myfirstarray.npy')
al

In [ ]:
a=[[1,2],[5,6]]
b=[[1,0],[0,1]]
np.dot(a,b)

In [ ]:
import numpy as np

In [ ]:
a=np.array(range(1,11))
b=np.array(range(2001,2011))
a,b

In [ ]:
a=np.zeros((3,3))
for row in range(3):
    for col in range(3):
        if(row==col):
            a[row][col]=1
        print(row,col,a[row][col])
a

In [ ]:
##### input from user
row=int(input("enter the row"))
col=int(input("enter the col"))
b=np.empty((row,col))

for i in range(row):
    for j in range(col):
        b[i][j]=int(input("enter the row,col value"))
b

In [ ]:
#add two matrix
a=np.array([range(5),range(5,10),range(10,15),range(15,20)])
a

# indexing and slicing

In [ ]:
v=np.linspace(0,10,5)
v

In [ ]:
v[0],v[1],v[-1]

In [ ]:
v[2:4]

In [ ]:
vv=np.random.random((5,5))
vv*10

In [ ]:
vv[0][0]

In [ ]:
vv[0,0],vv[4,3]

In [ ]:
l1=[[1,2,3],[4,5,6]]
l1[0][1]

In [ ]:
vv

In [ ]:
vv[2:5,1]

In [ ]:
vv[2:5,0:3]

In [ ]:
print(v)
v2=v[2:4]
print(v2)
v2[0]=55
print(v,v2)

In [ ]:
print(v)
v2=v[2:4].copy()
print(v2)
v2[0]=22
print(v,v2)


# filtering data

In [ ]:
print(v)
v1=v[[1,2,3]]
print(v1)

In [ ]:
v>1

In [ ]:
bool_ind=v>5

In [ ]:
v[bool_ind]

In [ ]:
print(vv)
vv[vv>.5]

In [ ]:
vv[vv>.5]=1
vv

In [ ]:
vals=np.arange(10)
#vals=np.array([1,3,5,7,9])
print(vals)
np.where(vals%3==0)

In [ ]:
vals_new=np.where(vals%2==0,-1,vals)
vals_new

In [ ]:
data=np.array([range(5),range(5,10),range(10,15),range(15,20)])
data

# HW

In [ ]:
##two input from user
row=int(input("enter the row"))
col=int(input("enter the col"))
b=np.empty((row,col))

for i in range(row):
    for j in range(col):
        b[i][j]=int(input("enter the row,col value"))
row=int(input("enter the row"))
col=int(input("enter the col"))
a=np.empty((row,col))

for i in range(row):
    for j in range(col):
        b[i][j]=int(input("enter the row,col value"))
a,b

In [ ]:
import numpy as np

In [ ]:
a=data[(data%2!=0)]
b=np.where(data%3==0,-1,data)
a,b

In [ ]:
#add two matrix
a=np.array([range(5),range(5,10),range(10,15),range(15,20)])
b=np.array([range(4),range(4,8),range(8,12),range(12,16),range(16,20)])
print(a,"=a")
print(b,"=b")
c=a.transpose()
print(c,"=c")
d=c.transpose()
print(d,"=d")
e=d==a
print(e)

In [ ]:
r=np.arange(0,100,3)
r[(r%2==0) | (r%9==0)] #multiple 2 and 9
#r[(r%2==0) & (r%9==0)]only multiple 2 and 9

r

In [ ]:
import csv

temp=[]

f="weather1week.csv"
with open(f,"r")as f:
    a=csv.reader(f,delimiter=';')

    print("start")
    for line in a:
       # print(line[5])
        temp.append(line[5])
temp
b=np.array([temp],dtype=float)
b  
f=b*(9/5)+32
f

In [ ]:
##age list and year
age=np.array([10,20,30,40,50,60,70,80,90,11])
for year in range(2010,2021):
    age=age+1
age

In [ ]:
##5x5 matrix largest number and smallest number
a=np.random.random((5,5))
a=a*10
a
n=a.astype(int)
n
x=n.max()
y=n.min()
print(x)
print(y)

In [ ]:
##create a numpy array of marks
a=np.random.randint(500,1200,size=20)
a
b=(a*100)/1200
print(b)
c=b.max()
print("first mark",c)
d=b.min()
print("last mark",d)

In [ ]:
#creat a numpy array 50 random elements
a=np.random.randint(50,size=50)
a
v=a.min()
print(v)
m=a.max()
print(m)
b=(a-v)/(m-v)
b
print("normalized value",b)

In [ ]:
##read the week file and find the average and hotter and cold 
import csv
temp=[]
f="weather1week.csv"
with open(f,"r")as f:
    r=csv.reader(f,delimiter=";")
    print("start")
    for line in r:

        temp.append(float(line[5]))
temp
a=np.array([temp])
b=np.mean(a)
print("average temperature",b)
c=a.max()
print("hottest temperature",c)
d=a.min()
print("coldest temperature",d)
e=a(a%24.19791)
e

a=input("enter the name:")
b=len(a)
print(b)

In [ ]:
##reverse the string

a=input("enter the name")
print(a)

# some additional snippets

In [ ]:
import numpy as np
data=np.array([[1,2,3,4,5],[6,7,8,9,10]],dtype=np.float)
data

In [ ]:
data[:,1:4]

In [ ]:
data[::-1]

In [ ]:
data[:,::-1]

In [ ]:
data[::-1,::-1]

In [ ]:
data[0,0]=np.inf
data[-1,-1]=np.nan
data

In [ ]:
#reshaping
reshaped=data.reshape((5,2))
reshaped

In [ ]:
flattened=data.flatten()
flattened

In [ ]:
#random numbers
np.random.rand(3,3)

In [ ]:
np.random.randint(0,10,(5,5))

In [ ]:
np.random.choice(['India','China','Australia','Canada','France'],(3,4))

In [ ]:
np.random.seed(5)
np.random.choice(['India','China','Australia','Canada','France'],(3,4))

In [ ]:
#consider the set of students
names=["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o"]
chess=np.random.choice(["a","b","c","d","e","f","g","h","i","j","k","l","m","n","o"],(10,5))
print("chess=",chess)

# vectorize

In [ ]:
def calc(a):
        if a%2==0:
            return a**2
        else:
            return a-1

In [ ]:
vals=np.array([1,2,3,4,5])
calc(vals[0])

In [ ]:
calc(vals)

In [ ]:
v_calc=np.vectorize(calc)
v_calc(vals)

In [ ]:
b=np.array([1,2,3,4,5])
bin(b[3])

In [ ]:
v_bin=np.vectorize(bin)
v_bin(b)

# records-using heterogeneous datatypes

In [ ]:
rec=np.array([(1,(95.5,98),'ram'),(2,(100,96.5),'raj')],dtype=[('rollno',np.int32),('marks',np.float16,2),('names',np.str,4)])

In [ ]:
rec

In [ ]:
rec['names']

In [ ]:
rec[0]

In [ ]:
rec['names']

In [ ]:
rec[0]['marks']

In [ ]:
rec['marks'][0]

In [ ]:
schems=np.dtype([('year',np.float16),
                ('month',np.float16),
                ('day',np.float16),
                ('hour',np.float16),
                ('minute',np.float16),
                 ('temp',np.float16)])
np_data=np.loadtxt('weather1week.csv',dtype=schems,delimiter=';')
np_data

In [ ]:
np_data[0]

In [ ]:
np_data['temp']

In [ ]:
np_data['temp']=np_data['temp']*(9/5)+32
np_data

In [ ]:
schems=np.dtype([('year',np.float16),
                 ('month',np.float16),
                 ('day',np.float16),
                 ('hour',np.float16),
                 ('minute',np.float16),
                 ('temp',np.float16),
                 ('temp1',np.float16)])
np_data=np.loadtxt('weatherComp.csv',dtype=schems,delimiter=';')
np_data

In [ ]:
a=np_data['temp'].max()
print(a)
b=np_data['temp1'].max()
print(b)
if(a>b):
    print(a,"2017 is hot")
else:
    print(b,"2018 is hot")

In [ ]:
#create a array 100 elements 
a=np.linspace(1,100,num=100,dtype=int)
a
b=a.reshpae((1,100)
print(b)


# pandas

In [8]:
import numpy as np
import pandas as pd

In [ ]:
schema=np.dtype([('sepal_length',np.float16),('sepal_width',np.float16),('petal_length',np.float16),('petal_width',np.float16),
                ('species','<U16')])

In [ ]:
np_data=np.loadtxt('iris.csv',dtype=schema,delimiter=',')
np_data

In [ ]:
np_data[0]

In [ ]:
np_data['species']

In [ ]:
pd_data=pd.read_csv('irish.csv')
pd_data.head()

In [ ]:
pd_data=pd.read_csv('iris.csv',names=['sepal_length','sepal_width','petal_length','petal_width','species'])
pd_data.head()

In [ ]:
pd_data.sepal_length

In [ ]:
pd_data=pd.read_csv('iris.csv',usecols=[0,1,4],names=['sepal_length','sepal_width','species'])
pd_data.head()
#you have header in your file d'not use names

In [ ]:
pd_data.shape

In [ ]:
pd_data.dtypes

In [ ]:
pd_data.get_dtype_counts()

In [ ]:
pd_data.isnull().values.any()

In [ ]:
pd_csv=pd.read_csv('tweets_withHeader.csv')
pd_csv.head()

In [ ]:
pd_csv=pd.read_csv('tweets_noHeader.csv',names=['id','polarity','text'])
pd_csv.head()

In [ ]:
pd_w=pd.read_csv('weather1week.csv',names=['year','month','day','hours','mini','temp'],delimiter=';')
pd_w.head()

# pandas

In [1]:
import pandas as pd
print(pd.__version__)

0.24.2

In [2]:
s=pd.Series([0,1,4,9,16,25],name='squares')
s

0     0
1     1
2     4
3     9
4    16
5    25
Name: squares, dtype: int64

In [3]:
s.values

array([ 0,  1,  4,  9, 16, 25], dtype=int64)

In [4]:
s.index

RangeIndex(start=0, stop=6, step=1)

In [5]:
s[2]

4

In [6]:
s[1:4]

1    1
2    4
3    9
Name: squares, dtype: int64

# creating dataframes

In [9]:
mat=np.arange(0,9).reshape(3,3)
mat

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [10]:
pd.DataFrame(mat)

   0  1  2
0  0  1  2
1  3  4  5
2  6  7  8

In [11]:
arr=[(1,'a'),(2,'b'),(3,'b')]
pd.DataFrame(arr,columns=['Letters','Numbers'])

   Letters Numbers
0        1       a
1        2       b
2        3       b

In [12]:
dictDf={'Numbers':[1,2,3],'Letters':['a','b','c']}
pd.DataFrame(dictDf)

   Numbers Letters
0        1       a
1        2       b
2        3       c

In [13]:
dictDf={'Numbers':[1,2,3,4],'Letters':['a','b','c']}
pd.DataFrame(dictDf)

ValueError: arrays must all be same length

In [14]:
ser1=pd.Series([24,30,10,23,32,43],name='age')
ser2=pd.Series(['ram','raj','gowri','shankar'],name='name')
pd.DataFrame({"age":ser1,"name":ser2})

   age     name
0   24      ram
1   30      raj
2   10    gowri
3   23  shankar
4   32      NaN
5   43      NaN

In [15]:
pd.DataFrame([ser1,ser2])

        0    1      2        3     4     5
age    24   30     10       23  32.0  43.0
name  ram  raj  gowri  shankar   NaN   NaN

In [18]:
pd.DataFrame([ser1,ser2]).T

  age     name
0  24      ram
1  30      raj
2  10    gowri
3  23  shankar
4  32      NaN
5  43      NaN

In [15]:
a=[2,4,6,8,10]
pd.DataFrame(a)

    0
0   2
1   4
2   6
3   8
4  10

In [21]:
s1=pd.Series(['sivaji','kgf','kabali','bagubali','ranimurugan'],name='Moviesnames')
s2=pd.Series(['rajini','yash','rajini','birabas','sivakarthikavayan'],name='lead male')
s3=pd.Series([],name='lead female')
s4=pd.Series(['1','1','1','1','1'],name='remark')
pd.DataFrame([s1,s2,s3,s4]).T

   Moviesnames          lead male lead female remark
0       sivaji             rajini         NaN      1
1          kgf               yash         NaN      1
2       kabali             rajini         NaN      1
3     bagubali            birabas         NaN      1
4  ranimurugan  sivakarthikavayan         NaN      1

In [17]:
age=pd.DataFrame([ser1,ser2]).T
age

  age     name
0  24      ram
1  30      raj
2  10    gowri
3  23  shankar
4  32      NaN
5  43      NaN

In [18]:
age['app_range']=[1 if a<=15 else 2 if 15<a<50 else 3 for a in age['age']]
age

  age     name  app_range
0  24      ram          2
1  30      raj          2
2  10    gowri          1
3  23  shankar          2
4  32      NaN          2
5  43      NaN          2

In [19]:
age.append(pd.DataFrame({'age':pd.Series(31),'name':pd.Series('GOWRI'),'age_range':pd.Series(2)}))

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

  age  age_range  app_range     name
0  24        NaN        2.0      ram
1  30        NaN        2.0      raj
2  10        NaN        1.0    gowri
3  23        NaN        2.0  shankar
4  32        NaN        2.0      NaN
5  43        NaN        2.0      NaN
0  31        2.0        NaN    GOWRI

In [20]:
pd.DataFrame(a)

    0
0   2
1   4
2   6
3   8
4  10

In [21]:
a['3m']=[1 if b/2==0 else 0 for b in a['a']]
a

TypeError: list indices must be integers or slices, not str

In [23]:
age.to_csv('age.csv')

In [24]:
#computer language popularity in 2017
pop2017=pd.Series([100,99.7,99.5,97.1,87.7,87.7,85.6,81.2,75.1,73.1],index=['python','c','java','c++','c#','R','javascript','go','rdbms','matlab'])
pop2017

python        100.0
c              99.7
java           99.5
c++            97.1
c#             87.7
R              87.7
javascript     85.6
go             81.2
rdbms          75.1
matlab         73.1
dtype: float64

In [25]:
pop2017[1]

99.7

In [26]:
pop2017['c']

99.7

In [30]:
pop2017.index

Index(['python', 'c', 'java', 'c++', 'c#', 'R', 'javascript', 'go', 'rdbms',
       'matlab'],
      dtype='object')

In [32]:
pop2017['c':'go']

c             99.7
java          99.5
c++           97.1
c#            87.7
R             87.7
javascript    85.6
go            81.2
dtype: float64

In [33]:
pop2017.iloc[0:2]

python    100.0
c          99.7
dtype: float64

In [35]:
pop2017[:'R']

python    100.0
c          99.7
java       99.5
c++        97.1
c#         87.7
R          87.7
dtype: float64

In [36]:
pop2017[pop2017>99.5]

python    100.0
c          99.7
dtype: float64

In [40]:
pop2017=pd.Series({'python':100,'c':99.7,'java':99.5,'c++':97.1,'c#':87.7,'R':87.7,'javascript':85.6,'go':81.2,'php':81.5})
pop2017

python        100.0
c              99.7
java           99.5
c++            97.1
c#             87.7
R              87.7
javascript     85.6
go             81.2
php            81.5
dtype: float64

In [54]:
pd_csv=pd.read_csv('weatherComp.csv',names=['year','month','date','hour','minite','temp_1','temp_2'],delimiter=';')
pd_csv[pd_csv['date']==10]
df1=pd_csv[pd_csv['date']==10]
df2=df1[df1['hour']==10]
print(df2)
df3=df1[df1['hour']==22]
print(df3)

FileNotFoundError: [Errno 2] File b'weatherComp.csv' does not exist: b'weatherComp.csv'

In [9]:
pop2014=pd.Series({'python':31.21,'java':19.5,'c++':9.7,'c#':7.3})
print(pop2014)
pop2015=pd.Series({'python':31.21,'java':19.5,'c++':9.7,'c#':7.3})
print(pop2015)

python    31.21
java      19.50
c++        9.70
c#         7.30
dtype: float64
python    31.21
java      19.50
c++        9.70
c#         7.30
dtype: float64

In [10]:
import numpy as np
import pandas as pd
twoyear=pd.DataFrame({'2014':pop2014,'2015':pop2015})
twoyear

         2014   2015
python  31.21  31.21
java    19.50  19.50
c++      9.70   9.70
c#       7.30   7.30

In [11]:
twoyears1=pd.concat([pop2014,pop2015],axis=1)
twoyears1

            0      1
python  31.21  31.21
java    19.50  19.50
c++      9.70   9.70
c#       7.30   7.30

In [12]:
pop2014.name='2014'
pop2015.name='2015'
twoyears1=pd.concat([pop2014,pop2015],axis=1)
twoyears1

         2014   2015
python  31.21  31.21
java    19.50  19.50
c++      9.70   9.70
c#       7.30   7.30

In [13]:
twoyear.values

array([[31.21, 31.21],
       [19.5 , 19.5 ],
       [ 9.7 ,  9.7 ],
       [ 7.3 ,  7.3 ]])

In [14]:
twoyear.columns

Index(['2014', '2015'], dtype='object')

In [15]:
twoyear['2014']

python    31.21
java      19.50
c++        9.70
c#         7.30
Name: 2014, dtype: float64

In [16]:
twoyear.loc['python':'c']

         2014   2015
python  31.21  31.21
java    19.50  19.50
c++      9.70   9.70
c#       7.30   7.30

In [17]:
twoyear.iloc[1:3]

      2014  2015
java  19.5  19.5
c++    9.7   9.7

In [18]:
twoyear.iloc[1:5+1,1:2]

      2015
java  19.5
c++    9.7
c#     7.3

In [19]:
twoyear.loc['python':'c#','2014']

python    31.21
java      19.50
c++        9.70
c#         7.30
Name: 2014, dtype: float64

# location identify

In [20]:
twoyear.loc[['c++','c#','python']]

         2014   2015
c++      9.70   9.70
c#       7.30   7.30
python  31.21  31.21

In [21]:
twoyearcopy=twoyear.iloc[:,0:2].loc[['python','c++','c#']].copy()
twoyearcopy

         2014   2015
python  31.21  31.21
c++      9.70   9.70
c#       7.30   7.30

In [22]:
twoyearcopy['2015']=pd.Series({'c++':1,'c#':1,'python':1})
twoyearcopy

         2014  2015
python  31.21     1
c++      9.70     1
c#       7.30     1

In [23]:
twoyearcopy.iloc[2,1]=5
twoyearcopy

         2014  2015
python  31.21     1
c++      9.70     1
c#       7.30     5

In [24]:
twoyearcopy.iloc[:,1]=-1
twoyearcopy

         2014  2015
python  31.21    -1
c++      9.70    -1
c#       7.30    -1

In [44]:
twoyear.iloc[1,:]=-1
twoyear

         2014   2015  average
python  31.21  31.21    31.21
java    -1.00  -1.00    -1.00
c++      9.70   9.70     9.70
c#       7.30   7.30     7.30

# creating new columns

In [39]:
twoyear['average']=(twoyear['2014']+twoyear['2015'])/2
twoyear

         2014   2015  average
python  31.21  31.21    31.21
java    -1.00  -1.00    -1.00
c++      9.70   9.70     9.70
c#       7.30   7.30     7.30

In [29]:
twoyear['2014']

python    31.21
java      -1.00
c++        9.70
c#         7.30
Name: 2014, dtype: float64

In [30]:
twoyear['2014']

python    31.21
java      -1.00
c++        9.70
c#         7.30
Name: 2014, dtype: float64

In [53]:
a=pd.Series(np.random.randint(100,150,size=10),name='hight')
b=pd.Series(np.random.randint(50,90,size=10),name="weight")
c=pd.DataFrame([a,b]).T
c['hight(metter)']=(c['hight'])/100
c['bmi']=(c['weight']/(c['hight(metter)'])**2)
c

   hight  weight  hight(metter)        bmi
0    140      54           1.40  27.551020
1    128      78           1.28  47.607422
2    112      75           1.12  59.789541
3    120      68           1.20  47.222222
4    103      75           1.03  70.694693
5    141      55           1.41  27.664604
6    134      74           1.34  41.211851
7    142      87           1.42  43.146201
8    115      83           1.15  62.759924
9    122      85           1.22  57.108304