In [2]:
import pandas as pd
df=pd.read_csv("australian.csv",names=['a1','a2','a3','a4','a5','a6','a7','a8','a9','a10','a11','a12','a13','a14','a15'])
df

,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,a11,a12,a13,a14,a15
0,1,22.08,11.460,2,4,4,1.585,0,0,0,1,2,100,1213,0
1,0,22.67,7.000,2,8,4,0.165,0,0,0,0,2,160,1,0
2,0,29.58,1.750,1,4,4,1.250,0,0,0,1,2,280,1,0
3,0,21.67,11.500,1,5,3,0.000,1,1,11,1,2,0,1,1
4,1,20.17,8.170,2,6,4,1.960,1,1,14,0,2,60,159,1
5,0,15.83,0.585,2,8,8,1.500,1,1,2,0,2,100,1,1
6,1,17.42,6.500,2,3,4,0.125,0,0,0,0,2,60,101,0
7,0,58.67,4.460,2,11,8,3.040,1,1,6,0,2,43,561,1
8,1,27.83,1.000,1,2,8,3.000,0,0,0,0,2,176,538,0
9,0,55.75,7.080,2,4,8,6.750,1,1,3,1,2,100,51,0
10,1,33.50,1.750,2,14,8,4.500,1,1,4,1,2,253,858,1
11,1,41.42,5.000,2,11,8,5.000,1,1,6,1,2,470,1,1
12,1,20.67,1.250,1,8,8,1.375,1,1,3,1,2,140,211,0
13,1,34.92,5.000,2,14,8,7.500,1,1,6,1,2,0,1001,1
14,1,58.58,2.710,2,8,4,2.415,0,0,0,1,2,320,1,0
15,1,48.08,6.040,2,4,4,0.040,0,0,0,0,2,0,2691,1
16,1,29.58,4.500,2,9,4,7.500,1,1,2,1,2,330,1,1
17,0,18.92,9.000,2,6,4,0.750,1,1,2,0,2,88,592,1
18,1,20.00,1.250,1,4,4,0.125,0,0,0,0,2,140,5,0
19,0,22.42,5.665,2,11,4,2.585,1,1,7,0,2,129,3258,1
20,0,28.17,0.585,2,6,4,0.040,0,0,0,0,2,260,1005,0
21,0,19.17,0.585,1,6,4,0.585,1,0,0,1,2,160,1,0
22,1,41.17,1.335,2,2,4,0.165,0,0,0,0,2,168,1,0
23,1,41.58,1.750,2,4,4,0.210,1,0,0,0,2,160,1,0
24,1,19.50,9.585,2,6,4,0.790,0,0,0,0,2,80,351,0
25,1,32.75,1.500,2,13,8,5.500,1,1,3,1,2,0,1,1
26,1,22.50,0.125,1,4,4,0.125,0,0,0,0,2,200,71,0
27,1,33.17,3.040,1,8,8,2.040,1,1,1,1,2,180,18028,1
28,0,30.67,12.000,2,8,4,2.000,1,1,1,0,2,220,20,1
29,1,23.08,2.500,2,8,4,1.085,1,1,11,1,2,60,2185,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
660,1,26.67,2.710,1,13,4,5.250,1,1,1,0,2,211,1,1
661,0,22.50,0.415,2,3,4,0.335,0,0,0,1,1,144,1,0
662,1,39.92,0.540,1,6,4,0.500,1,1,3,0,2,200,1001,1
663,0,26.08,8.665,2,6,4,1.415,1,0,0,0,2,160,151,1
664,1,20.00,0.000,2,2,4,0.500,0,0,0,0,2,144,1,0
665,1,31.57,4.000,1,3,4,0.085,0,0,0,1,2,411,1,0
666,1,26.75,4.500,1,8,5,2.500,0,0,0,0,2,200,1211,0
667,0,24.92,1.250,2,1,1,0.000,1,0,0,0,2,80,1,0
668,0,32.25,1.500,2,8,4,0.250,0,0,0,1,2,372,123,0
669,1,17.67,4.460,2,8,4,0.250,0,0,0,0,1,80,1,0
670,0,37.75,5.500,2,11,4,0.125,1,0,0,1,2,228,1,1
671,1,22.67,2.540,1,8,8,2.585,1,0,0,0,2,0,1,1
672,0,17.92,10.210,2,1,1,0.000,0,0,0,0,2,0,51,0
673,1,24.42,12.335,2,11,8,1.585,1,0,0,1,2,120,1,1
674,0,25.75,0.500,2,8,8,0.875,1,0,0,1,2,491,1,1
675,1,26.17,12.500,1,4,8,1.250,0,0,0,1,2,0,18,0
676,0,22.75,6.165,2,6,4,0.165,0,0,0,0,2,220,1001,0
677,1,23.00,0.750,2,7,4,0.500,1,0,0,1,1,320,1,0
678,1,25.67,0.290,1,8,4,1.500,0,0,0,1,2,160,1,0
679,1,48.58,0.205,1,4,4,0.250,1,1,11,0,2,380,2733,1
680,1,21.17,0.000,2,8,4,0.500,0,0,0,1,1,0,1,0
681,1,35.25,16.500,1,8,4,4.000,1,0,0,0,2,80,1,0
682,0,22.92,11.585,2,13,4,0.040,1,0,0,0,2,80,1350,1
683,0,48.17,1.335,2,3,7,0.335,0,0,0,0,2,0,121,0
684,1,43.00,0.290,1,13,8,1.750,1,1,8,0,2,100,376,1
685,1,31.57,10.500,2,14,4,6.500,1,0,0,0,2,0,1,1
686,1,20.67,0.415,2,8,4,0.125,0,0,0,0,2,0,45,0
687,0,18.83,9.540,2,6,4,0.085,1,0,0,0,2,100,1,1
688,0,27.42,14.500,2,14,8,3.085,1,1,1,0,2,120,12,1
689,1,41.00,0.040,2,10,4,0.040,0,1,1,0,1,560,1,1

In [4]:
import pandas as pd
df=pd.read_csv("australian.csv",names=['a1','a2','a3','a4','a5','a6','a7','a8','a9','a10','a11','a12','a13','a14','a15'])
df=df.drop(['a2','a3','a7','a10','a13','a14'],axis=1)
from sklearn.model_selection import train_test_split
train,test=train_test_split(df,test_size=0.2)
#df=pd.read_csv("german.csv", error_bad_lines=False,delimiter=';')
df.head()

   a1  a4  a5  a6  a8  a9  a11  a12  a15
0   1   2   4   4   0   0    1    2    0
1   0   2   8   4   0   0    0    2    0
2   0   1   4   4   0   0    1    2    0
3   0   1   5   3   1   1    1    2    1
4   1   2   6   4   1   1    0    2    1

In [6]:
from sklearn.tree import DecisionTreeClassifier
#clf=DecisionTreeClassifier(max_leaf_nodes=15)
clf=DecisionTreeClassifier()
clf=clf.fit(train.drop(['a15'],axis=1).values,train['a15'].values)

In [7]:
clf

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [8]:
clf.feature_importances_

array([0.03181586, 0.02602855, 0.11318482, 0.08676037, 0.60676734,
       0.06026936, 0.03186095, 0.04331275])

In [9]:
from sklearn import tree
with open("german_bank.dot","w") as f:
    f:tree.export_graphviz(clf,feature_names=train.drop(['a15'],axis=1).columns,out_file=f)

In [10]:
predictions=clf.predict(test.drop(['a15'],axis=1).values)

In [11]:
from sklearn.metrics import accuracy_score
accuracy_score(test['a15'],predictions)

0.8115942028985508

In [12]:
from sklearn.ensemble import RandomForestClassifier
x_train=train.drop(['a15'],axis=1).values
y_train=train['a15'].values
x_test=test.drop(['a15'],axis=1).values
y_test=test['a15']

clf = RandomForestClassifier(n_estimators=1000,max_leaf_nodes=15)
clf=clf.fit(x_train,y_train)
predictions = clf.predict(x_test)
accuracy_score(y_test, predictions)

0.8333333333333334

In [13]:
from sklearn.ensemble import GradientBoostingClassifier

clf=GradientBoostingClassifier()
clf=clf.fit(x_train,y_train)
predictions=clf.predict(x_test)
accuracy_score(y_test,predictions)

0.8405797101449275