In [63]:
import pandas as pd
import numpy as np
from sklearn import ensemble
from sklearn.metrics import mean_absolute_error

df=pd.read_csv("train_red.csv")
del df['fixed acidity']
del df['volatile acidity']
del df['residual sugar']
del df['free sulfur dioxide']
del df['pH']
df.head()

,citric acid,chlorides,total sulfur dioxide,density,sulphates,alcohol,quality
0,0.00,0.072,52,0.99379,0.60,11.5,6
1,0.02,0.066,25,0.99720,0.67,9.5,6
2,0.50,0.122,17,1.00060,0.70,10.2,5
3,0.26,0.070,121,0.99810,0.49,9.4,5
4,0.29,0.109,119,0.99801,0.50,9.1,5

In [44]:
copy_df=df

In [45]:
y1=copy_df['quality']

In [46]:
del copy_df['quality']

In [47]:
x1=copy_df

In [49]:
x=x1.as_matrix()
y=y1.as_matrix()

x,y

C:\Users\gowri\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.
C:\Users\gowri\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

(array([[0.0000e+00, 7.2000e-02, 5.2000e+01, 9.9379e-01, 6.0000e-01,
         1.1500e+01],
        [2.0000e-02, 6.6000e-02, 2.5000e+01, 9.9720e-01, 6.7000e-01,
         9.5000e+00],
        [5.0000e-01, 1.2200e-01, 1.7000e+01, 1.0006e+00, 7.0000e-01,
         1.0200e+01],
        ...,
        [2.6000e-01, 2.3600e-01, 8.8000e+01, 9.9680e-01, 8.0000e-01,
         9.3000e+00],
        [2.5000e-01, 1.0400e-01, 8.9000e+01, 9.9630e-01, 9.0000e-01,
         1.0100e+01],
        [2.9000e-01, 7.0000e-02, 3.9000e+01, 9.9577e-01, 5.4000e-01,
         1.1100e+01]]), array([6, 6, 5, ..., 5, 5, 5], dtype=int64))

In [69]:
model = ensemble.GradientBoostingRegressor(
    n_estimators=1000,
    learning_rate=0.1,
    max_depth=6,
    min_samples_leaf=9,
    max_features=0.1,
    loss='huber',
    random_state=0
)
model.fit(x_train, y_train)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='huber', max_depth=6,
             max_features=0.1, max_leaf_nodes=None,
             min_impurity_decrease=0.0, min_impurity_split=None,
             min_samples_leaf=9, min_samples_split=2,
             min_weight_fraction_leaf=0.0, n_estimators=1000,
             n_iter_no_change=None, presort='auto', random_state=0,
             subsample=1.0, tol=0.0001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [56]:
mae = mean_absolute_error(y_train, model.predict(x_train))
print("Training Set Mean Absolute Error: %.4f" % mae)

mae = mean_absolute_error(y_test, model.predict(x_test))
print("Test Set Mean Absolute Error: %.4f" % mae)

Training Set Mean Absolute Error: 0.0560
Test Set Mean Absolute Error: 0.3979

In [18]:
#test data set
df1=pd.read_csv("test_red.csv")
del df1['Unnamed: 0']
del df1['fixed acidity']
del df1['volatile acidity']
del df1['residual sugar']
del df1['free sulfur dioxide']
del df1['pH']
df1.head()

,citric acid,chlorides,total sulfur dioxide,density,sulphates,alcohol,quality
0,0.39,0.080,55.0,0.99652,0.73,10.90,6
1,0.07,0.071,24.0,0.99510,0.66,10.80,6
2,0.12,0.114,64.0,0.99588,0.59,9.50,6
3,0.02,0.078,12.0,0.99600,0.63,9.95,3
4,0.02,0.080,28.0,0.99492,0.81,10.60,6

In [19]:
copy_df1=df1

In [21]:
y=copy_df1['quality']
y.head()

0    6
1    6
2    6
3    3
4    6
Name: quality, dtype: int64

In [25]:
del df1['quality']

In [27]:
x=df1.as_matrix()
y=y.as_matrix()

C:\Users\gowri\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.
C:\Users\gowri\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [71]:
mae = mean_absolute_error(y_train, model.predict(x_train))
print("Training Set Mean Absolute Error: %.4f" % mae)

mae = mean_absolute_error(y_test, model.predict(x_test))
print("Test Set Mean Absolute Error: %.4f" % mae)

Training Set Mean Absolute Error: 0.0522
Test Set Mean Absolute Error: 0.4483